footer(class="bg-[#ebebf0] mt-[40px]")
    div(class="mx-auto container py-[40px]")
        div(class=" mb-[4px] font-[400] text-[12px] text-[#808089]") Bằng việc tiến hành Đặt Mua, bạn đồng ý với các Điều kiện Giao dịch chung:
        div(class="text-[#000000] lg:font-[480] text-[12px] font-[400] lg:text-[14px]")
            span(class="pr-[8px] border-r-[1px] border-r-solid border-r-[#cccccc]") Quy chế đào tạo 
            span(class="ml-[8px] pr-[8px] border-r-[1px] border-r-solid border-r-[#cccccc]") Chính sách giải quyết khiếu nại
            span(class="ml-[8px] pr-[8px] border-r-[1px] border-r-solid border-r-[#cccccc]") Chính sách bảo hành 
            span(class="ml-[8px] pr-[8px] border-r-[1px] border-r-solid border-r-[#cccccc]") Chính sách bảo mật thanh to
            span(class="ml-[8px]") Chính sách bảo mật thông tin cá nhân

        div(class="mt-[10px] text-[#808089] text-[12px] font-[400] md:font-[450]") © 2019 - Bản quyền của Công Ty Cổ Phần Ti Ki - Tiki.vn


