include ../mixins/mixin.pug
footer(class="px-[20px] mt-[50px] rounded-[20px] bg-[#ffffff]")
    div(class=" pt-[16px] pb-[24px] md:px-0 px-[16px]")
        //- top
        div(class="flex justify-between items-start pb-[25px] flex-wrap")
            div(class="")
                div(class="mb-[20px]")
                    +boxTitle("Hỗ trợ khách hàng")
                div(class="")
                    +boxSubTitle(`Hotline: <strong>1900-6035</strong><br>
                                (1000 đ/phút, 8-21h kể cả T7, CN)`)
                    +boxSubTitle("Các câu hỏi thường gặp")
                    +boxSubTitle("Gửi yêu cầu hỗ trợ")
                    +boxSubTitle("Hướng dẫn đặt hàng")
                    +boxSubTitle("Phương thức vận chuyển")
                    +boxSubTitle("Chính sách đổi trả")
                    +boxSubTitle("Hướng dẫn trả góp")
                    +boxSubTitle("Chính sách hàng nhập khẩu")
                    +boxSubTitle("Hỗ trợ khách hàng: hotro@tiki.vn")
                    +boxSubTitle("Báo lỗi bảo mật: security@tiki.vn")
        

            div(class="")
                div(class="mb-[20px]")
                    +boxTitle("Về Tiki")
                div(class="")
                    +boxSubTitle(`Giới thiệu Tiki`)
                    +boxSubTitle("Tiki Blog")
                    +boxSubTitle("Tuyển dụng")
                    +boxSubTitle("Chính sách bảo mật thanh toán")
                    +boxSubTitle("Chính sách bảo mật thông tin cá nhân")
                    +boxSubTitle("Chính sách giải quyết khiếu nại")
                    +boxSubTitle("Điều khoản sử dụng")
                    +boxSubTitle("Giới thiệu Tiki Xu")
                    +boxSubTitle("Gói hội viên VIP")
                    +boxSubTitle("Tiếp thị liên kết cùng Tiki")
                    +boxSubTitle("Bán hàng doanh nghiệp")
                    +boxSubTitle("Điều kiện vận chuyển")
            


            div(class="md:mb-0 mb-[20px]")
                div(class="mb-[20px]")
                    +boxTitle("Hợp tác và liên kết")
                div(class="")
                    +boxSubTitle(`Quy chế hoạt động Sàn GDTMĐT`)
                    +boxSubTitle("Bán hàng cùng Tiki")
                //- 
                div(class="mb-[12px] mt-[20px]")
                    +boxTitle("Hợp tác và liên kết")
                    div(class="relative ")
                        img(src="/client/assets/images/footer-1.svg", alt="", class="absolute right-[38px] top-[10px]" srcset="")
            

            div(class="flex lg:mt-[0] mt-[40px] ")
                div(class="")
                    div(class="mb-[20px]")
                        +boxTitle("Phương thức thanh toán")

                    //- 
                    div(class="mb-[12px] mt-[20px]")
                        +boxTitle("Dịch vụ giao hàng")


            
                div(class="xl:ml-[60px] lg:ml-[26px] ml-[100px]")
                    div(class="mb-[20px] ")
                        +boxTitle("Kết nối với chúng tôi")
                        div(class="mt-[20px]")
                            ul(class="flex ")
                                li(class="mr-[10px]")
                                    a(href="#") 
                                        i(class="fa-brands fa-facebook text-[blue] text-[26px] md:text-[32px]")
                                li(class="mr-[10px]")
                                    a(href="#") 
                                        i(class="fa-brands fa-youtube text-[red] text-[26px] md:text-[32px]")
                                li
                                    a(href="#") 
                                        i(class="fa-brands fa-twitter text-[#26c2ed] text-[26px] md:text-[32px]")

                    //- 
                    div(class="mb-[12px] mt-[20px]")
                        +boxTitle("Tải ứng dụng trên điện thoại")
        //-  end top 

        //- bottom
        div(class="border-y-[1px] border-solid border-y-[#c0c0c6] py-[16px]")
            div(class="mb-[16px]")
                +boxTitle("Công ty TNHH TIKI")
            div(class="")
                +boxSubTitle('Địa chỉ trụ sở: Tòa nhà Viettel, Số 285, Đường Cách Mạng Tháng 8, Phường 12, Quận 10, Thành phố Hồ Chí Minh')
                +boxSubTitle('Giấy chứng nhận đăng ký doanh nghiệp số 0309532909 do Sở Kế Hoạch và Đầu Tư Thành phố Hồ Chí Minh cấp lần đầu vào ngày 06/01/2010.')
                +boxSubTitle(`Hotline: <span class="text-[#0B74E5] "> 1900 6035 </span>`)
        //- end bottom