div(class=" bg-blue-600 flex flex-col w-[60px] rounded-[20px]  bottom-[30px] right-[calc((100vw-1280px)/2)] fixed")
                button(class="bg-transparent px-[6px] py-[16px] flex flex-col items-center border-b-[1px] border-solid border-b-white" type="button")
                    img(src="https://salt.tikicdn.com/ts/ta/f8/a1/bf/95b4110dc1fba3d9b48dfc6c60be4a90.png", class="size-[32px]" alt="Trợ lý")
                    span(class="text-[12px] mt-[4px] text-white font-[600]") Trợ lý 
                button(class="bg-transparent px-[6px] py-[16px] flex flex-col items-center" button-authen-chat)
                    img(src="https://salt.tikicdn.com/ts/ta/e1/5e/b4/2e33d86e11e2841a6a571de6084ff365.png", class="size-[32px]" alt="Trợ lý")
                    span(class="text-[12px] mt-[4px] text-white font-[600]") Nhắn tin