extends ../../layouts/auth.pug

block main
    div(class="w-full h-full flex items-center justify-center fixed")
        div(class="insert-0 fixed z-[1000] ")
            div(class="md:text-[40px] text-[34px] font-[800] text-[#363636] md:font-[800] text-center mb-[20px]") XÁC THỰC OTP 
            form(action="/auth/password/otp",class="md:w-[500px] sm:w-[300px] w-[280px]" method="POST")
                div(class="")
                    div
                        label(for="email" class="md:text-[18px] text-[#363636] text-[16px] font-[500]") Email:
                    input(type="email" value= email readonly id="email" required name= "email" class="w-full h-[50px]  border-[2px] border-[#131111] bg-[#c3dac3] pl-[10px] outline-none rounded-[10px] mt-[10px]" )
                    div
                        label(for="otp" class="md:text-[18px] text-[#363636] text-[16px] font-[500]") Nhập mã OTP:
                    input(type="otp" id="otp" required name= "otp" class="w-full h-[50px]  border-[2px] border-[#131111] pl-[10px] outline-none rounded-[10px] mt-[10px]" )
                    div(class="mt-[20px]")
                        button(class="w-full h-[50px]  border-[2px] md:text-[18px] text-[16px] font-[500] text-[white] outline-none rounded-[10px] bg-[#2626e8]") Xác thực