extends ../../layouts/auth.pug
block main 
    div(class="w-full h-full flex items-center justify-center fixed")
        div(class="insert-0 fixed z-[1000] ")
            div(class="md:text-[40px] text-[34px] text-[#363636] font-[800] md:font-[800] text-center mb-[20px]") Đổi Mật Khẩu
            form(action="/auth/password/rest", class="md:w-[500px] sm:w-[300px] w-[280px]" method="POST")
                div(class="")
                    div(class="")
                        label(for="password" class="md:text-[18px] text-[#363636] text-[16px] font-[500]") Mật khẩu mới:
                        input(type="password" value= password required id="password"  name= "password" class="w-full h-[50px]  border-[2px] border-[#131111]  pl-[10px] outline-none rounded-[10px] mt-[10px]" )
                    div(class="mt-[20px]")
                        label(for="confirmpassword" class="md:text-[18px] text-[#363636] text-[16px] font-[500]") Xác thực mật khẩu mới:
                        input(type="password" id="confirmpassword" required name= "confirmpassword" class="w-full h-[50px]  border-[2px] border-[#131111] pl-[10px] outline-none rounded-[10px] mt-[10px]" )
                    div(class="mt-[20px]")
                        button(class="w-full h-[50px]  border-[2px] md:text-[18px] text-[16px] font-[500] text-[white] outline-none rounded-[10px] bg-[#2626e8]") Xác thực