header 
    div(class="w-full h-[auto] py-[10px] bg-[#ffffff] flex justify-between items-center") 
        div(class="ml-[30px]")
                span(class="text-[20px] font-[700] text-[#0a68ff] ") ADMIN

        div(class="")
            a(class="py-[5px] px-[8px] text-[16px] font-[400] text-[white] rounded-[8px] bg-[blue] mr-[20px]"
                href=`${urlAdmin}/myaccount`
            ) #{user.fullname}

        